<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Commitment Provider</title>
</head>
<style></style>

<body>
    <nav class="bg-blue-700">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">

                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

                    <div class="">
                        <div class="flex space-x-4">
                            <a href="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                                aria-current="page">New Commitment</a>
                            <a href="/checkCommitment"
                                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Check
                                Commitment</a>
                            <a href="/getSecret"
                                class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Get
                                Secret</a>
                            <a href="/apikeys"
                                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Api
                                Keys</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="flex flex-col justify-center border">
        <div class="flex flex-row justify-center">
            <form class="w-full max-w-lg" method="post" action="/">
                <h1
                    class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
                    Get Secret</h1>

                <h2 class="text-lg font-normal lg:text-xl ">To get the commitment pre-image, enter a valid payment proof</h2>
                <hr class="mb-3" />
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="commitment">
                            Commitment
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="commitment" required type="text" placeholder="0x" name="Commitment">
                        <p class="text-gray-600 text-xs italic">The commitment pre-image to reveal for the payment proof
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="txid">
                            Transaction id
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="txid" required type="text" placeholder="0x" name="Txid">
                        <p class="text-gray-600 text-xs italic">The Transaction id</p>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="TxKey">
                            Transaction secret key
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="TxKey" required type="text" placeholder="0x" name="TxKey">
                        <p class="text-gray-600 text-xs italic">The secret key for the payment</p>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="Address">
                            Address
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="Address" required type="text" placeholder="0x" name="Address">
                        <p class="text-gray-600 text-xs italic">The Monero Address the payment was made to.</p>
                    </div>
                </div>
                <div class="flex flex-row justify-center">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                        Request Secret
                    </button>
                </div>
                <h2 class="text-md font-normal ">The secret behind the commitment will be revealed to anyone who
                    provides a monero payment proof of transferring the required funds to that address. The service is
                    valid from commitment creation till the specified expiry date.</h2>
            </form>
        </div>
    </div>
</body>

</html>